*,
html {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

.container {
  background-image: url(../image/bg.jpg);
}

.container-navbar {
  background-color: #999;
  width: 100%;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.li-navbar {
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  color: #fff;
}

.li-navbar:hover {
  background-color: rgb(65, 65, 65);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition-delay: 0.3s;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.a-navbar {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.container-content {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  height: 80vh;
  width: 100%;
}

.a-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 6px 8px 12px 0px rgba(0, 0, 0, 0.8);
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.img-content {
  width: 50%;
  height: 50%;
}

p {
  font-size: 15px;
  text-align: center;
}

#biodata {
  font-size: 20px;
  background-color: #96ff0d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container-footer {
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.h1-footer {
  font-size: 40px;
}
