body {
  background-color: #f4f4f4;
  font family: 'Souge UI', Tamoha, Gevena, Vernanda, sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  border-bottom: 2px solid #007b;
  margin-bottom: 20px;
}

h1 {
  color: #007b;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: block;
  margin: 0 auto 20px;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.2);
}

section {
  backkground: #999;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

section:hover {
  transfrom: scale(1.02);
  transition: transfrom 0.3s ease;
  cursor: pointer;
}
